openapi: 3.0.0
info:
  title: Movie Quotes
  description: Movie Quotes API
  version: 0.1.9

servers:
  - url: https://folksoul-api.nika-nozadze.redberryinternship.ge/api
    description: production server
  - url: http://localhost:4000/api
    description: local server  
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
paths:
  /register:
    post:
      tags:
        - Users  
      requestBody:
        required: true
        content:
          application/json:
            schema: 
              type: 'object'
              properties:
                  name: 
                    type: string
                  password: 
                    type: string
                  repeatPassword:
                    type: string
                  email:
                    type: string
                  redirectLink:
                    type: string
            example:
              name: nikanoza
              password: astarta16
              repeatPassword: astarta16
              email: nikanozadze1010@gmail.com
              redirectLink: https://folksoul.nika-nozadze.redberryinternship.ge
      responses:
        '201':
          description: user register successfully
  /verify:
    post:
      tags:
        - Users  
      requestBody:
        required: true
        content:
          application/json:
            schema: 
              type: 'object'
              properties:
                  hash:
                    type: string 
            example:
              hash: 45c8866eea81385afa7074306c9e7aed670cbe3c638aefd42ad0689a7b3294e0aa48d44536dd2f2f2fac669480ec41df
      responses:
        '200':
          description: email verified
  /password/send-link:
    post: 
      tags:
        - Users  
      requestBody:
        required: true
        content:
          application/json:
            schema: 
              type: 'object'
              properties:
                  email:
                    type: string
                  redirectLink:
                    type: string
            example:
              email: nikanozadze1010@gmail.com
              redirectLink: https://folksoul.nika-nozadze.redberryinternship.ge
      responses:
        '201':
          description: send password recovery link
